audio {
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
  background-image: linear-gradient(to bottom right, rgb(65, 0, 0), rgb(0, 0, 0));;
  /* background: linear-gradient(to top, rgb(117, 0, 0), rgb(60, 48, 167))); */
  /* background: linear-gradient(to top, rgb(117, 0, 0), transparent 100%); */
  /* background-color: rgb(54, 0, 0); */

  box-shadow: 0px 0px 15px 5px black;
}

#player {
  pointer-events: none;
}

/* audio::-webkit-media-controls-panel {
} */

#mediaButtons {
  margin: auto;
  max-width: 1000px;
  align-items: stretch;
  display: flex;
}

.mediaButton {
  flex: 1;
  background-color: transparent;
  border: 0;
  font-size: xx-large;
}

.mediaButton:hover {
  background-color: rgb(95, 0, 0);
}

