* {
  margin: 0;
  padding: 0;
}


body {
  background-color: rgb(0, 0, 0);
  color: rgb(180, 180, 180);
  font-family: Arial, Helvetica, sans-serif;
}

audio {
  width: 100%;
}

.authorList {
  margin: 10px;
}

.authorSection {
  background-color: rgb(20, 20, 20);
  
  font-size: large;
}

.authorLabel {
  padding: 10px;
}

.bookList {
  font-size: medium;
  
}

.bookSection {
  background-color: rgb(30, 30, 30);
}

.bookLabel {
  padding: 10px 20px;
}

.authorSection:hover, .bookSection:hover, .mediaButton:hover {
  cursor: pointer;
}

.trackList {
  font-size: small;
  background-color: rgb(40, 40, 40);
  
  text-overflow: ellipsis;
  overflow: hidden;  
}

.trackLabel {
  padding: 5px 30px;
}

.authorLabel:hover, .bookLabel:hover, .trackLabel:hover {
  background-color: darkred;
  cursor: pointer;
}

ul {
  list-style-type: none; /* remove bullet points */
}  

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#header {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
}

#library {
  margin: auto;
  max-width: 1000px;
  padding-bottom: 25vh;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
  /* background: linear-gradient(to top, rgb(117, 0, 0), transparent 100%); */
  background-color: rgb(36, 36, 36);
}

#player {
  pointer-events: none;
}

/* audio::-webkit-media-controls-panel {
} */

.mediaButtonRow {
  display: flex;
}

#mediaButtons {
  width: 100%;
  align-items: stretch;
}

.mediaButton {
  flex: 1;
  background-color: transparent;
  border: 0;
  font-size: xx-large;
}

.mediaButton:hover {
  background-color: rgb(95, 0, 0);
}

