{% extends 'base.html' %}

{% block head %}
<title>{{myname}}'s Flask app</title>
{% endblock %}




{% block body %}

<div class="grid-container">

  <div id="header" class="grid-item">

    <h1>Audiobook player</h1>
    <p>Welcome {{myname}}!</p>
  </div>

  <div id="library" class="grid-item">

    <h2>Library</h2>

    <!-- Audiobook list -->
    <ul>

      <!-- Display all authors, books and tracks -->
      {% for author_key, author_value in library.items() %}

      <div class="authorSection">

        <li onclick="showHideSection(this.innerHTML + '_list')">{{author_key}}</li>

        <ul style="display:none;" id="{{author_key}}_list">

          <!-- Display all books and tracks -->
          {% for book_key, book_value in author_value.items() %}

          <div class="bookSection">

            <li onclick="showHideSection(this.innerHTML + '_list')">{{book_key}}</li>

            <ul style="display:none;" id="{{book_key}}_list">

              <!-- Display all tracks as list items -->
              {% for track in book_value %}
              <li class="trackItem" id="{{author_key}}/{{book_key}}/{{track}}" onclick="playTrack(
                this.id.split('/')[0], // Author
                this.id.split('/')[1], // Book
                this.id.split('/')[2], // Track
                this.id.split('/')[0]
                )">{{track}}</li>
              {% endfor %}

            </ul>

          </div>

          {% endfor %}
        </ul>

      </div>

      {% endfor %}
    </ul>

  </div>

  <div id="mediaPlayer" class="grid-item">

    <audio controls id="player">
      <source
        src='http://192.168.1.2/audiobooks/{{current_track["author"]}}/{{current_track["book"]}}/{{current_track["track"]}}'
        type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <br>
    <div id="mediaButtons">

      <button onclick="mediaControls('previousTrack')">⏮</button>
      <button onclick="mediaControls('rewind')">⏪</button>
      <button onclick="mediaControls('togglePlayPause')">⏯</button>
      <button onclick="mediaControls('fastForward')">⏩</button>
      <button onclick="mediaControls('nextTrack')">⏭</button>
    </div>

    <p>Currently playing:</p>

    <table>
      <tr>
        <td><b>Author</b></td>
        <td id="currentlyPlayingAuthor">{{current_track["author"]}}</td>
      </tr>
      <tr>
        <td><b>Book</b></td>
        <td id="currentlyPlayingBook">{{current_track["book"]}}</td>
      </tr>
      <tr>
        <td><b>Track</b></td>
        <td id="currentlyPlayingTrack">{{current_track["track"]}}</td>
      </tr>
    </table>
  </div>

</div>

<script src="{{url_for('static', filename='js/main.js')}}" onload="expandCurrentlyPlayingSectionOfLibrary(
  '{{current_track["author"]}}',
  '{{current_track["book"] | replace("'", "\\'")}}',
  '{{current_track["track"]}}'
  )"></script>


{% endblock %}