{% extends 'base.html' %}

{% block head %}
<title>{{myname}}'s Flask app</title>
{% endblock %}




{% block body %}

<div class="flexbox-container">

  <div id="header">




  </div>

  <div id="library">


    <!-- Audiobook list -->
    <ul class="authorList">

      <!-- Display all authors, books and tracks -->
      {% for author_key, author_value in library.items() %}

      <div class="authorSection">

        <li id="{{author_key}}" class="authorLabel" onclick="showHideSection(this.id + '_list')">{{author_key}}
        </li>

        <ul class="bookList" style="display:none;" id="{{author_key}}_list">

          <!-- Display all books and tracks -->
          {% for book_key, book_value in author_value.items() %}

          <div class="bookSection">

            <li id="{{author_key}}/{{book_key}}" class="bookLabel" onclick="showHideSection(this.id + '_list')">
              {{book_key}}</li>

            <ul class="trackList" style="display:none;" id="{{author_key}}/{{book_key}}_list">

              <!-- Display all tracks as list items -->
              {% for track in book_value %}
              <li class="trackLabel" id="{{author_key}}/{{book_key}}/{{track["track_filename"]}}" onclick="playTrack(
                this.id.split('/')[0], // Author
                this.id.split('/')[1], // Book
                this.id.split('/')[2], // Track
                this.id.split('/')[0]
                )">{{track["track_filename"]}} ({{track["track_length"]}})</span></li>
              {% endfor %}

            </ul>

          </div>

          {% endfor %}
        </ul>

      </div>

      {% endfor %}
    </ul>

  </div>

  <div id="footer">


    <audio controls id="player">
      <source
        src='http://192.168.1.2/audiobooks/{{current_track["author"]}}/{{current_track["book"]}}/{{current_track["track"]}}'
        type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>


    <div id="mediaButtons">

      <button onclick="mediaControls('previousTrack')">⏮</button>
      <button onclick="mediaControls('rewind')">⏪</button>
      <button onclick="mediaControls('togglePlayPause')">⏯</button>
      <button onclick="mediaControls('fastForward')">⏩︎</button>
      <button onclick="mediaControls('nextTrack')">⏭</button>
    </div>


    <ul style="font-size: small; margin: 10px;">
      <li id="currentlyPlayingAuthor">{{current_track["author"]}}</li>
      <li id="currentlyPlayingBook">{{current_track["book"]}}</li>
      <li id="currentlyPlayingTrack">{{current_track["track"]}}</li>
    </ul>




  </div>

</div>

<script src="{{url_for('static', filename='js/main.js')}}" onload="setInitialValues(
  '{{current_track["author"]}}',
  '{{current_track["book"] | replace("'", "\\'")}}',
  '{{current_track["track"]}}',
  '{{current_track["timestamp"]}}'
  )"></script>


{% endblock %}